svg(style="height: 0; width: 0; position: absolute; visibility: hidden")
  //- include simbol svg here
  //- "put it where you want to use it" use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#id")