extends ../_templates/main


block title
  | title
  //- var body_bg = "bg-style";

block oldBrowser
  +oldBrowser

block herosection
  include ../_blocks/_herosection

block header
  include ../_blocks/_header

block content
  | content
  //include ../_blocks/_block-name

block footer
  include ../_blocks/_footer