extends ../_templates/main


block title
  | styleguide
  //- var body_bg = "bg-style";

block content
  | title
  a(href="#")
    i(data-icon="smile-face").icon-svg
      svg.icon-svg__svg
        use(xlink:href="#smile-face")

  +icon-svg("star", "", "", "content")

  a.dashed link

