extends ../_templates/main


block title
  | styleguide
  //- var body_bg = "bg-style";

telephone
block content
  | title
  a(href="#")
    i(data-icon="smile-face").icon-svg
      svg.icon-svg__svg
        use(xlink:href="#smile-face")
  a(href="#").color
    h1 title
      i(data-icon="star").icon-svg
        svg.icon-svg__svg
          use(xlink:href="#star")

